@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Salsa&family=Poppins:wght@400;600&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: "Salsa", cursive, sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
}

h1, h2, h3 {
  font-family: var(--font-secondary);
}
